/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/dist
/preview
/android-sms-reader/.gradle
/android-sms-reader/.idea
/android-sms-reader/**/build
/android-sms-reader/local.properties
*.sql
*.zip
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
